# Environment variables
.env
.env.dev

# Docker secrets
secrets/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
node_modules/
dist/
client/public/
.tsbuildinfo

browser-profile/
uploads/

# Database backups
backups/