# Environment variables
.env
.env.dev

# Docker secrets
secrets/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
dist/
client/public/
.tsbuildinfo

# Dependencies
node_modules/
package-lock.json

# Browser profile
browser-profile/
