# Environment variables
.env
.env.dev

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
client/public/bundle.js
client/public/bundle.js.LICENSE.txt

# Dependencies
node_modules/
package-lock.json

# Images and assets
client/public/*.png
